</main>
<footer>
    <a href="https://github.com/helypereira" target="_blank"><img src="/images/github.png" alt=""></a>
    <a href="https://www.linkedin.com/in/hely-pereira/" target="_blank"><img src="/images/linkedin.png" alt=""></a>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="/index.js"></script>
</body>
</html>